body{
    background:#FCFFFE;
    font-family:Arial, Helvetica, sans-serif
}

.assignments {
    display: flex;
    flex-wrap:wrap;
}

.assignment {
    width: 22%;
    padding:10px;
    margin:10px;
    padding: 20px 10;
    background: #98CCB6;
    border-radius: 5px;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 4px dashed #FFF;
    display:block;
    margin: auto;
}

.assignment img:hover{
    border: 4px dashed #20B2AA;
}

h1 {
    color:darkred;
    text-align: center;
}

h2 {
    text-align: center;
}

a   {
    text-decoration: none;
    color: white
}

a:hover{
    color: #20B2AA;
}